.open-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin-left: 110px;
    margin-right: 110px;
    background-color: white;
    padding: 0px;
    color: #080101;
    gap: 24px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 28px 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    background-color: rgb(191, 228, 207);
    border-radius: 24px;
    border-style: groove;
    height: 330px;
    opacity: 100%;
}

.content {
    padding: 20px;
    margin: 20px;
    line-height: normal;
}

.content h3 {
    height: 29px;
    width: 622px;
    font-size: 24px;
    color: rgb(119, 112, 112);
}

.content h1 {
    font-size: 56px;
    font-weight: bold;
    height: 201px;
    width: 612px;
}

.btn {
    cursor: pointer;
    font-size: medium;
    font-family: 'Fira Sans', Arial, sans-serif;
    padding: 5px;
    width: 270px;
    height: 56px;
    background-color: rgb(2, 76, 2);
    color: white;
    border: none;
    border-radius: 8px;
}

.opt {
    font-size: 32px;
    font-weight: bold;
    width: 252px;
    height: 52px;
}

.opt2 {
    background-color: white;
    color: rgb(29, 138, 29);
    cursor: pointer;
    border-radius: 8px;
    padding: 30px px;
    border: 1px solid rgb(29, 138, 29);
    width: 116px;
    height: 52px;
    font-weight: bolder;
    font-family: 'Fira Sans', Arial, sans-serif;
}

.opt2:hover {
    color: rgb(29, 138, 29);
}

.btn:hover {
    background-color: black;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Boxes section */
.sec {
    text-align: left;
}

.mainTitle {
    font-size: 40px;
    font-weight: bold;
}

.boxbtn {
    cursor: pointer;
    margin-left: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    text-align: center;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.boxbtn:hover {
    color: black;
}

.box {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.title {
    margin-left: 32px;
    font-size: 20px;
    font-weight: bold;
}

.boxes-des {
    margin-left: 32px;
}

.blue {
    border-radius: 16px;
    background-color: #8fb0ea;
}

.green {
    border-radius: 16px;
    background-color: #a4e4c7;
}

.yellow {
    border-radius: 16px;
    background-color: #e6c986;
}

.blu {
    background-color: #5490f5;
}

.gre {
    background-color: #09a15c;
}

.yel {
    background-color: #ffc239;
}

.quote {
    background-color: rgb(244, 244, 244);
    position: relative;
    text-align: left;
    border-radius: 16px;
}

.symbol {
    position: absolute;
}

.des {
    color: #0E0E0E;
    opacity: 70%;
}

.text {
    padding-top: 24px;
    opacity: 70%;

}

.dhuru {
    color: #0E0E0E;
    opacity: 60%;
}

.last {
    margin-bottom: 2px;
    color: #0E0E0E;
    opacity: 80%;
}

.pic {
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.b {
    flex: 1;
    border-radius: 16px;
    flex-direction: column;
    text-align: left;
}